@tailwind base;
@tailwind components;
@tailwind utilities;

// logo

.logo {
  @media (max-width: 400px) {
    display: none;
  }
}

.submenuGSAP {
  transform: translateY(-15rem);
  position: absolute;
  width: 100%;
  display: none;
  background: #1f2937;
  z-index: -1;
}

.max-w-2rem {
  max-width: 9rem;
}

.footerMarginDashboard {
  @media (min-width: 912px) {
    margin-top: 10rem;
  }
  @media (min-height: 1000px) {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
.footerMarginContact {
  margin-top: 7rem;

  @media (min-height: 857px) {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.fotterWithOnUltraWide {
  @media (min-width: 1536px) {
    min-width: 100%;
  }
}

